Berksfile.lock
chef/cookbooks/apt
chef/cookbooks/bluepill
chef/cookbooks/build-essential
chef/cookbooks/ohai
chef/cookbooks/rsyslog
chef/cookbooks/runit
chef/cookbooks/yum
chef/cookbooks/yum-epel
chef/cookbooks/Berksfile.lock